/* body{
    background-image: url(point.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}  */

.cal{
    width: fit-content;
    border: 1px black solid;
    padding: 15px;
    background-color: rgb(155, 154, 154);
}

.cal h2{
    border: 1px black solid;
    padding: 20px;
    background-color: green;
}

.cal button{
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    background-color: grey;
}

.cal :last-child{
    margin-left: 60px;
    padding: 10px 15px 10px 15px;
}

.cal :nth-child(5){
    padding: 10px 40px 10px 40px;
}

.cal :nth-child(10){
    padding: 10px 17px 10px 17px;
}

.cal :nth-child(11){
    padding: 10px 20px 10px 20px;
}

.cal :nth-child(16){
    padding: 10px 20px 10px 20px;
}

.cal :nth-child(17){
    padding: 10px 20.5px 10px 20.9px;
}

.cal :nth-child(19){
    margin-left: 60px;
}
